.footer__copyright-block {
    min-height: 315px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 750px) {
    .footer__copyright-block {
       align-items: center;
    }
}