.footer__address {
    margin: 64px 0 0;
    width: 245px;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: .01em;
    color: #212353;
}

@media screen and (max-width: 750px) {
    .footer__address {
        margin: 34px 0 0;
        text-align: center;
    }
}