.lead__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background: #9c69e2;
    border: none;
    transition: .3s;
}

.lead__link:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 0 rgba(156, 105, 226, .1);
}

@media screen and (max-width: 750px) {
    .lead__link {
        width: 130px;
        height: 40px;
        font-size: 14px;
    }
}