.intro__text-box {
    width: 465px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .intro__text-box {
        width: 350px;
        
    }
}
  
@media screen and (max-width: 900px) {
    .intro__text-box {
        width: 465px;
        min-height: 220px;
        margin-bottom: 50px;
    }
}
  
@media screen and (max-width: 750px) {
    .intro__text-box {
        width: 250px;
        gap: 10px;
        margin-bottom: 30px;
    }
}