.header {
    max-width: 1440px;
    min-height: 178px;
    padding-top: 62px;
}

@media screen and (max-width: 900px) {
    .header {
        min-height: 108px;
        padding-top: 42px;
    }
}
  
@media screen and (max-width: 750px) {
    .header {
        min-height: 78px;
        padding-top: 22px;
    }
}
