.cards__image {
    max-width: 240px;
    object-fit: cover;
    object-position: top;
    transition: .3s;
}

@media screen and (max-width: 750px) {
    .cards__image {
        max-width: 170px;
        
    }
}