.logo_place_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 220px;
    background-position: left center;
    text-decoration: none;
    text-align: end;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #212353;
}

@media screen and (max-width: 750px) {
    .logo_place_footer {
       width: 200px;
    }
}
