.slide__button-active {
    border: none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background: url(../../../images/button-active.png) no-repeat center center;
    width: 40px;
    height: 14px;
}

.slide__button-active:hover {
    transform: translateY(-4px);
}